/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
// Import the base Material theme styles
@import '@angular/material/theming';

// Define your custom theme
@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);

$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

// Include the theme styles
@include angular-material-theme($theme);

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
